
<!--<mat-sidenav-container class="example-container" >-->
  <!--<mat-sidenav  class="sidenav" #sidenav mode="push" [(opened)]="opened">-->
    <!--<app-menu></app-menu>-->
  <!--</mat-sidenav>-->
  <!--<mat-sidenav-content>-->
    <!--<button mat-icon-button  aria-label="Example icon-button with a heart icon" (click)="onToggleMenu()">-->
      <!--<mat-icon>menu</mat-icon>-->
    <!--</button>-->
    <!--<router-outlet></router-outlet>-->
  <!--</mat-sidenav-content>-->
<!--</mat-sidenav-container>-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!--<button mat-menu-item (click)="setCountry()">-->
        <!--<mat-icon>flag</mat-icon>-->
        <!--<span>Preferences</span>-->
      <!--</button>-->
      <button mat-menu-item [routerLink]="['']">
        <mat-icon>voicemail</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item [routerLink]="['/publishers']">
        <mat-icon>voicemail</mat-icon>
        <span>Publishers</span>
      </button>
      <button mat-menu-item [routerLink]="['/saved']">
        <mat-icon>voicemail</mat-icon>
        <span>Saved Articles</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <!--<span class="example-spacer"></span>-->

    <span class="text-center">Second Line</span>

    <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>



